:root{
  --color-red:#E60023;
}
@font-face {
    font-family: 'icomoon';
    src:  url('icomoon/fonts/icomoon.eot?1i3dpk');
    src:  url('icomoon/fonts/icomoon.eot?1i3dpk#iefix') format('embedded-opentype'),
      url('icomoon/fonts/icomoon.ttf?1i3dpk') format('truetype'),
      url('icomoon/fonts/icomoon.woff?1i3dpk') format('woff'),
      url('icomoon/fonts/icomoon.svg?1i3dpk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 25px;
    color: black;
    
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-pinterest:before {
    content: "\e901";
  }
  .icon-github-alt:before {
    content: "\e900";
  }
  .icon-profile:before {
    content: "\e923";
  }
  .icon-envelop:before {
    content: "\e945";
  }
  .icon-earth:before {
    content: "\e9ca";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-linkedin2:before {
    content: "\eaca";
  }
  body{

      background-color: white;
      margin-top: 70px;
  }
  header{
    box-shadow: 0px 0px 5px #DEDEE6;
    height: 50px;
    background-color: white;
    padding: 2px 20px ;
    margin 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }
  header h5{
    text-decoration: none;
    text-align: right;
    max-width: 1024px;
    padding: 0;
    vertical-align: middle;
    margin:auto;
  }
  .width-fix{
    max-width: 1024px;
    margin: auto; 
  }
h1, 
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  color: black;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    color: black;
  }
.hero{
    text-align: right;
    display: grid;
    grid-template: repeat(2, 50%)/30% 70%;
    margin:30px;
    height: auto;   
}

.hero span{
    text-transform: uppercase;
    color: var(--color-red);
    margin:0;
}
.hero h1{
    font-size:60px;   
}
.hero strong{
  position: absolute;
  bottom: 0;
  right: 0; 
  z-index: 1;
}
.separation{
  padding: 30px;
}
.greeting{
    margin: auto;
    text-align: center;
    max-width: 800px;
    background-color: #FAFAFA;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #DEDEE6;
    padding: 2px 20px ;
}
.greeting h3{
    margin: 20px;
    text-align: center;
}
.greeting h3 strong{
    color:#E60023;
}
.social-link{
    margin: 20px;
}
.social-link a{
    text-decoration: none;
    margin:5px;
}
.item:nth-of-type(1){
    grid-row-start: 1;
    grid-row-end: 3;
}
.item:nth-of-type(2){
    border-bottom: 2px solid black;
    position: relative;
}
.hero img{
    width: 100%;
    border-radius: 50%;
    border: 2px solid black;
    box-sizing: border-box;
}
.porfolio{
  display:grid;
  grid-template-columns: repeat(auto-fill, 236px);
  grid-gap: 16px;
  justify-content: center;
}
.porfolio article{
  width: 236px;
}
.porfolio article h4{
  text-align: center;
  margin-bottom: 5px;
}
.porfolio article a{
  text-decoration: none;
}
.porfolio article h6{
  text-align: center;
  margin:5px;
  text-decoration: none;
}
.porfolio-img{
  cursor: pointer;
  display: block;
}
.porfolio-img img{
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
  margin: 0;
  box-shadow: 0px 0px 5px #DEDEE6;
  vertical-align: top;
}
.porfolio-img figure{
  margin:0;
}
.porfolio-title{
  text-align: center;
}
.Template-TPS-greyness{
  background: rgba(250,250,250,0.1);
  display: none;
  box-shadow: 0px 0px 30px #DEDEE6;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.porfolio-platzi .porfolio-img{
  position: relative;
  z-index: 1;
}
.porfolio-img:hover .Template-TPS-greyness{
  display: flex;
  animation: inherit;
}
.level-1{
  grid-row-end: span 1;
}
.level-2{  
  grid-row-end: span 2;
}
.level-3{  
  grid-row-end: span 3;
}
.level-4{
  grid-row-end: span 4;
}
@media screen and (max-width: 768px){
  .hero{
    text-align: center;
    display: block;
  }
  .item img{
    width: 40%;
  
  }
  .hero strong{  
    text-align: center;
    position: static;
  }
  .hero h1{
    margin:20px 0 5px;
  }
  .separation{
    padding: 0 30px;
  }
  @media screen and (max-width: 425px){
    .hero{
      text-align: center;
      display: block;
    }
    .item img{
      width: 70%;
    }
    .hero strong{  
      text-align: center;
      position: static;
      font-size: 20px;
    }
    .hero h1{
      margin:0;
      line-height: 40px;
    }
    .separation{
      padding: 0 30px;
    }
    .greeting h3 {
      margin: 5px;
    }
    h3{
      font-size: 20px;
    }
    h4{
      font-size: 14px;
    }
    p{
      font-size: 12px;
    }
    [class^="icon-"], [class*=" icon-"] {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-size: 20px;
    }
